In [8]:
import pandas as pd

In [9]:
dados = pd.read_csv("vgsales.csv")

In [10]:
#remove valores NaN
dados = dados.dropna()

In [11]:
#obtendo apenas variaveis desejadas
#desjamos prever a venda de um videogame na america do norte em função da plataforma, ano, genero e autora
dataset = dados.loc[:, ["Platform", "Year", "Genre" , "Publisher", "NA_Sales"]]

In [12]:
dataset

      Platform    Year         Genre   Publisher  NA_Sales
0          Wii  2006.0        Sports    Nintendo     41.49
1          NES  1985.0      Platform    Nintendo     29.08
2          Wii  2008.0        Racing    Nintendo     15.85
3          Wii  2009.0        Sports    Nintendo     15.75
4           GB  1996.0  Role-Playing    Nintendo     11.27
...        ...     ...           ...         ...       ...
16593      GBA  2002.0      Platform       Kemco      0.01
16594       GC  2003.0       Shooter  Infogrames      0.01
16595      PS2  2008.0        Racing  Activision      0.00
16596       DS  2010.0        Puzzle    7G//AMES      0.00
16597      GBA  2003.0      Platform     Wanadoo      0.01

[16291 rows x 5 columns]

In [13]:
relevantes = (dataset["Platform"] == "PS4") | (dataset["Platform"] == "Wii") |  (dataset["Platform"] == "XOne")
dataset = dataset.loc[relevantes,:]

In [14]:
top_10 = dataset["Publisher"].value_counts().head(10)
top_10_dict = top_10.to_dict()
chav = top_10_dict.keys()


keys = []


for i in chav:
    keys.append(i)

In [15]:
#filtrando publishers
filtro = (dataset["Publisher"] == keys[0]) | (dataset["Publisher"] == keys[1]) | \
(dataset["Publisher"] == keys[2]) | (dataset["Publisher"] == keys[3]) | (dataset["Publisher"] == keys[4])\
| (dataset["Publisher"] == keys[5]) | (dataset["Publisher"] == keys[6]) | (dataset["Publisher"] == keys[7])\
| (dataset["Publisher"] == keys[8]) | (dataset["Publisher"] == keys[9])

game = dataset.loc[filtro,:]
game

      Platform    Year      Genre                     Publisher  NA_Sales
0          Wii  2006.0     Sports                      Nintendo     41.49
2          Wii  2008.0     Racing                      Nintendo     15.85
3          Wii  2009.0     Sports                      Nintendo     15.75
7          Wii  2006.0       Misc                      Nintendo     14.03
8          Wii  2009.0   Platform                      Nintendo     14.59
...        ...     ...        ...                           ...       ...
16448     XOne  2016.0     Action                       Ubisoft      0.00
16473      Wii  2008.0  Adventure                      Nintendo      0.00
16505     XOne  2014.0       Misc                       Ubisoft      0.00
16517      Wii  2007.0     Action  Konami Digital Entertainment      0.00
16550      PS4  2016.0     Action            Namco Bandai Games      0.00

[932 rows x 5 columns]